#wrapper {
    margin: 0 auto;
    margin: 30px;
    padding: 6px;  
}

#wrapper .box {
    display: flex;
}


/* upper part  */
#upper {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    background-color: #24292c;
    padding: 5px;
}

#upper div {
    display: flex;
    align-items: center;
   
}

#upper .logo {
    flex: 1 1 10%;
    padding-left: 4%;
    background-color: #ffff25;
    background-image: linear-gradient(#ffff25, #ffffff);
}

#upper .logo p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;  
    font-size: 26px;
    color: #2f3133;
}


#upper .description {
    flex: 1 1 56%;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 40px;
    color: #ffffff;
}

#upper .tel {
    flex: 1 1 26%;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
}


/* main part */
#main {
    flex: 1 1 100%;
    /*background-image: url(picts/kredit-1.jpg); */
    background-color: #e4e4e4;
}

#main-pict {
    flex: 1 1 50%;
    flex-flow: row wrap;
}
#main .call {
    flex: 1 1 30%;
    text-align: center;
    padding: 50px 0;
   
}

#main .call button {
    background-color: #dc143c;
    background-image: linear-gradient(#dc143c, #a7012b);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
    color: #ffffff;
    max-width: 70%;
}

#main .call button:hover {
    background-color: #a56548;
    background-image: linear-gradient(#64443e, #ebaf9c);
}

#main .call img {
    max-width: 100%;
}

#main .call .callta {
    display: inline-block;
    padding: 20px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #050505;
    font-weight: bold;
    font-size: 24px;
    
}

#main .call .callta2 {
    display: inline-block;
    padding: 20px 30px;
    margin: 30px auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #b8001f;
    font-weight: bold;
    font-size: 38px;
    border-bottom: 2px solid #000000;
}

#main .call p {
    display: inline-block;
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    color: #050505;
  

}

#main form {
    display: flex;
    flex-flow: column wrap;
   margin: 0 20%;
    padding: 50px;
    align-items: center;
    background-color: #00598d;
}

#main form label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #f3f1f1;
}

#main form input {
    margin:4px 0 20px 0;
    width: 90%;
    height: 26px;
}


/* action part  */
#action {
    flex: 1 1 100%;
    max-width: 100%;
    justify-content: center;   
    background-color: rgb(16, 19, 24);
}

#action p {
    margin: 60px;
    color: #ffffff;
   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200%;
    font-size: 28px;
}


/* trigger part  */
#trigger {
    flex-flow: row wrap;
    background-color: #5b85a1;
}

#trigger .trigger-box {  
    flex: 1 1 22%;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
}

#trigger .trigger-box div {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 16px;
    font-weight: bold;
}

#trigger .trigger-box img {
    max-width: 80%;
    align-items: center;
    margin-bottom: 30px;
}


/* Contact form */

#forma form {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 80%;
    padding: 80px;
    align-items: center; 
    background-color: #3a5568;    
}

#forma form label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #eeeeee;
}

#forma form input {
    margin:4px 0 20px 0;
    width: 60%;
    height: 26px;
}

#forma button {
    background-color: #dc143c;
    background-image: linear-gradient(#dc143c, #a7012b);
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-top: 30px;
    padding: 20px;
    color: #ffffff;
    max-width: 70%;
}

#forma button:hover { 
    background-color: #a56548;
    background-image: linear-gradient(#64443e, #ebaf9c);
}

/* How it works */
#howitworks {
   flex-flow: row wrap;
   
   background-image: url(picts/fon-3.jpg);
}
/* background-image: url(picts/fon-1.jpg); */

#howitworks .howworks-box {
    flex: 1 1 17%;
    background-color: #ffffff;
    margin: 16px;
    background-color: #2b3e42;
border: 1px solid #cccccc;
}

#howitworks .howworks-box p {
    flex: 1 1 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
   
}

/* Footer */

#footer {
    padding: 40px;
    background-color: #296979;
    color: rgb(235, 235, 235);
    flex-flow: row wrap;
}

#footer .footer-box {
    flex: 1 1 30%;
}

#footer .footer-box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 200%;
}

.header {
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

